/*
  CSS Rules to style the information icon + tooltip in the rooms' header.
*/
.infoContainer {
  position: absolute;
  right: 90px;
  top: 0px;
  color: rgba(255, 255, 255, 0.85);
}

.infoIcon {
  position: relative;
  border-bottom: 1px dotted #666;
  text-align: left;
}

.infoIcon:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 1);
}

.infoIcon .tooltip {
  top: 34px;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 10px 10px 20px;
  color: #222222;
  background-color: #FFFFFF;
  font-weight: normal;
  font-size: 13px;
  border-radius: 8px;
  position: absolute;
  z-index: 20;
  box-sizing: border-box;
  border: 1px solid #000000;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.8s;
  width: 140px;
}

.infoIcon:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.legend-scale ul {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  float: left;
  list-style: none;
}

.legend-scale ul li {
  list-style: none;
  margin-left: 0;
  line-height: 18px;
  margin-bottom: 2px;
}

.legend-labels li span {
  display: block;
  float: left;
  height: 16px;
  width: 20px;
  margin-right: 20px;
  margin-left: 0;
  border: 1px solid #999;
}
